.wrap {
  width: 90%;
}

.my_form {
  border-radius: 15px;
  background: #171123;
  padding: 3% 6%;
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.input_set {
  width: 30%;
  background: #e8f1f2;
  color: #171123;
  padding: 1% 6% 2% 6%;
  margin: 8px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_set input {
  width: 100%;
  padding: 2%;
}

.input_set label {
  display: block;
}

.input_set p {
  display: block;
}

.button_set {
  display: block;
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button_set input {
  font-size: 16px;
  padding: 5% 30%;
  margin: 0 5px;
}
