.content {
  flex-wrap: wrap;
  flex-direction: unset;
  align-items: center;
  justify-content: space-around;
}

.tile {
  box-sizing: border-box;
  padding: 2%;
  margin: 1% 0;
  background-color: #171123;
  color: #e8f1f2;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}

.tile img {
  border-radius: 10px;
  width: 300px;
  height: 400px;
}

.tile .column {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.save {
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
}

.save button {
  padding: 2%;
  margin: 2% 0;
  font-size: 16px;
}
