body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #33658a;
}
