.main_page {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.vertical_form {
  display: block;
  box-sizing: border-box;
  padding: 3% 2%;
  width: 25%;
  border-radius: 20px;
  background-color: #171123;
}

.button_set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_set input {
  width: 100%;
  padding: 5%;
  margin: 5% 0 5% 0;
  font-size: 16px;
}

.content {
  display: block;
  box-sizing: border-box;
  padding: 3% 2%;
  width: 70%;
  min-height: 70vh;
  border: solid 3px #e8f1f2;
  border-radius: 20px;
  background-color: #171123;
}

.content h3 {
  background-color: #e8f1f2;
  border-radius: 10px;
  padding: 3% 2%;
}
